name: Full Sync

on:
  #schedule:
  #  - cron: '0 2 * * *'  # 每天凌晨2点自动执行(使用最新版本)
  workflow_dispatch:
    inputs:
      binvern:
        description: '指定Kubectl版本号(如v1.33.6,不填则使用最新版本)'
        required: false
        type: string

permissions:
  contents: write

jobs:
  sync_binaries:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取仓库代码
        uses: actions/checkout@v4

      - name: 下载Zig指定版本的全部二进制包
        id: get_files
        run: |
          get_files_and_export_envs() {
            VIN=${1:-}
            OWN="kubernetes/kubernetes"
            URL="https://api.github.com/repos/${OWN}/releases"
            TJN="tmp.json" && [ ! -e ${TJN} ] && curl -fsLo ${TJN} ${URL}
            ####
            FLT='.[]|select(.tag_name|test("-(rc|beta|al)")|not)|.tag_name'
            set -- $(jq -r "${FLT}" <${TJN}) &&
              VNS=${1} && [ X0 != X${#VIN} ] &&
              VNS=$(echo ${@} | sed -r 's, ,\n,g' | grep -Em1 "^v.*${VIN#v}") &&
              [ X0 = X${#VNS} ] && VNS=${1}
            ####
            printf -- "可选版本(按时间先后排序):\n"
            printf -- "===> %s %s %s %s %s\n" $@ | column -t
            printf -- "选中版本:\n===>  ${VNS}\n\n"
            ####
            set -- src client-linux-{386,amd64,arm,arm64,ppc64le,s390x} \
              client-darwin-{amd,arm}64 client-windows-{386,amd64,arm64}
            # set -- $@ {server,node}-linux-{amd64,arm64,ppc64le,s390x}
            # set -- $@ node-windows-amd64
            ####
            set -- https://dl.k8s.io/${VNS}/kubernetes.tar.gz \
              $(printf "https://dl.k8s.io/${VNS}/kubernetes-%s.tar.gz\n" $@)
            ####
            xf= && [ ! -d dist ] && mkdir dist
            for xf in $@; do
              [[ X${xf}Z = X*loong*Z ]] && continue
              printf "#[TIP] downloading [$xf]...\n" &&
                curl -4Lfo dist/${xf##*/} $xf
            done #2>/dev/null
            ##追加到环境变量中
            echo "VNSTR=${VNS}" >>${GITHUB_ENV}
            echo "BSURL=https://dl.k8s.io/${VNS}/TGZ_FILENAME" >>${GITHUB_ENV}
          }
          ##
          get_files_and_export_envs ${{ github.event.inputs.binvern }}
      - name: 发布到Releases
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: "${{ env.VNSTR }}"  # 用版本号作为tag(如v0.12.0)
          name: "Zig ${{ env.VNSTR }} Binaries"
          body: |
            手动从Kubectl官网同步二进制程序
            - 版本: ${{ env.VNSTR }}
            - 官网下载地址: ${{ env.BSURL }}/${{ env.VNSTR }}
          overwrite_files: true  # 不覆盖已有版本(避免重复发布同一版本)
